mock-service-soap/src/main/resources/schema/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">


	<xs:element name="changePasswordRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="login" type="xs:string" />
				<xs:element name="senhaAtual" type="xs:string" />
				<xs:element name="novaSenha" type="xs:string" />
				<xs:element name="confirmacaoNovaSenha" type="xs:string" />
				<xs:element name="name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="changePasswordResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="password"	type="tns:ArrayOfJavaLangstring_literal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="ArrayOfJavaLangstring_literal">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="JavaLangstring" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>	


</xs:schema>